PyGObject==3.54.5
PySocks==1.7.1
TBB==0.2
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
apprise==1.9.7
attrs==25.4.0
autocommand==2.2.2
babelfish==0.6.1
bcc==0.36.1
bcrypt==5.0.0
beautifulsoup4==4.14.3
btrfsutil==6.19
cbor2==5.8.0
certifi==2026.2.25
cffi==2.0.0
chardet==6.0.0.post1
charset-normalizer==3.4.4
cheroot==11.1.2
cherrypy==18.10.0
cinemagoer==2023.5.1
click==8.3.1
configobj==5.0.9
contourpy==1.3.3
cryptography==46.0.5
ct3==3.4.0
cupshelpers==1.0
cycler==0.12.1
cython==3.2.4
dbus-fast==3.1.2
dbus-python==1.4.0
deemix==3.6.6
deezer-py==1.3.7
defusedxml==0.7.1
discid==1.3.0
distro==1.9.0
dnspython==2.8.0
evdev==1.9.3
eventlet==0.40.4
fasteners==0.20
feedparser==6.0.12
fido2==2.1.1
fonttools==4.62.0
frozenlist==1.8.0
glances==4.5.1
greenlet==3.3.2
guessit==3.8.0
idna==3.11
importlib-metadata==8.7.1
jaraco-classes==3.4.0
jaraco-collections==5.1.0
jaraco-context==6.0.1
jaraco-functools==4.1.0
jaraco-text==4.0.0
jeepney==0.9.0
jinja2==3.1.6
keyring==25.7.0
kiwisolver==1.4.8
legacy-cgi==2.6.4
lit==21.1.8.dev0
lxml==6.0.2
markdown==3.10.2
markupsafe==3.0.3
matplotlib==3.10.8
moddb==0.14.0
more-itertools==10.8.0
multidict==6.7.1
mutagen==1.47.0
nftables==0.1
notify2==0.3.1
numpy==2.4.3
oauthlib==3.3.1
orjson==3.11.7
packaging==26.0
picard==2.13.3
pillow==12.1.1
pkg-resources==81.0.0
platformdirs==4.9.4
portend==3.2.1
propcache==0.4.1
proton-core==0.7.0
proton-keyring-linux==0.2.1
proton-vpn-api-core==4.15.2
proton-vpn-cli==0.1.6
proton-vpn-daemon==0.13.5
proton-vpn-gtk-app==4.14.2
protontricks==1.13.1
psutil==7.2.2
puremagic==2.0.2
pyalpm==0.11.1
pycairo==1.29.0
pycparser==2.23
pycryptodomex==3.23.0
pycups==2.0.4
pydantic==2.12.5
pydantic-core==2.41.5
pyjwt==2.11.0
pynacl==1.6.2
pyopenssl==25.3.0
pyparsing==3.3.2
pyqt5==5.15.11
pyqt5-sip==12.18.0
pyqt6==6.10.2
pyqt6-sip==13.11.1
python-dateutil==2.9.0
python-gnupg==0.5.6
python-xlib==0.33
pytz==2025.2
pyyaml==6.0.3
pyzstd==0.19.1
qtermwidget==2.3.0
rarfile==4.2
rebulk==3.3.0
reflector==2023.6.28.0.36.1
requests==2.32.5
requests-oauthlib==2.0.0
sabctools==8.2.6
sabyenc3==5.4.4
secretstorage==3.4.0
sentry-sdk==2.54.0
setproctitle==1.3.7
setuptools==82.0.0
sgmllib3k==1.0.0
shtab==1.8.0
six==1.17.0
smbus==1.1
soupsieve==2.8.3
sqlalchemy==2.0.48
tabulate==0.10.0
tempora==5.8.1
tqdm==4.67.3
typing-extensions==4.15.0
typing-inspection==0.4.2
ufw==0.36.2
umu-launcher==1.3.0
unidecode==1.4.0
urllib3==2.6.3
validate==5.0.9
vdf==4.0
wheel==0.46.3
xxhash==3.6.0
yarl==1.23.0
yt-dlp==2026.3.3
yt-dlp-ejs==0.5.0
zc-lockfile==4.0
zipp==3.21.0
